<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://code.alibabatech.com/schema/dubbo
				http://code.alibabatech.com/schema/dubbo/dubbo.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
				http://www.springframework.org/schema/tx
				http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
				http://www.springframework.org/schema/util
				http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 扫描资源文件 -->
	<!-- <context:property-placeholder location="classpath:resource.properties"/>
	 -->
	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 多个拦截器，顺序执行 -->
		<mvc:interceptor>
			<!-- /**表示所有子路径 -->
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/login/**"/>  <!-- 不拦截登录请求 -->
		    <mvc:exclude-mapping path="*.js"/>
		    <mvc:exclude-mapping path="*.css"/>
		    <mvc:exclude-mapping path="*/images/*"/>
			<bean class="com.xp.filter.HeaderInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 扫描：把Controller交给spring管理 -->
	<context:component-scan base-package="com.xp.web.*.controller"></context:component-scan>
	<!-- 注解驱动 -->
	<mvc:annotation-driven >  
	    <mvc:message-converters register-defaults="true">  
	    <!-- 解决@ResponseBody中文乱码 -->  
		  <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
		    <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />  
		  </bean>  
	   </mvc:message-converters>  
	</mvc:annotation-driven>
	<!-- 放行静态资源 -->
	<mvc:default-servlet-handler />
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 文件上传配置 -->
	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- 上传文件大小上限，单位为字节（20MB） -->
        <property name="maxUploadSize">  
            <value>20971520</value>  
        </property>  
        <!-- 请求的编码格式，必须和jSP的pageEncoding属性一致，以便正确读取表单的内容，默认为UTF-8 -->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>
	
	
</beans>